extends layout

block content
  div.row
    div.col-lg-12
      h1= title
      p Welcome to #{title}
  div.row
    div.col-lg-12
      table.table.table-bordered
        thead
          tr
            th oid
            th 订单内容
            th 订单价格
            th 下单人
            th 下单时间
        tbody
          tr
            td 1
            td 什么商品
            td 50
            td 我我
            td 2018-3-31

